<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Collectr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<script src="/js/accountCreation.js"></script>

</head>
<body>

	<div th:include = "index :: header"></div>
	  
	<div class="container-fluid text-center">    
	    <div class="col-sm-2 sidenav">
	    </div>
	    <div class="page-header" id="banner">
	          <div class="col-lg-8 text-center">
	            <h1>About Collectr</h1>
	            <br></br>
	            <p>Welcome! This is a web application that can help you 
	            keep track of various items that you own, want to own, 
	            have completed, or want to complete. All types of collections 
	            are covered such as different Media Collections, Clothes, Shoes, 
	            Coins, and other things that could be collectable! Collectr will 
	            *eventually* provide suggestions and recommendations based on your
	            collections.</p>
	          </div>
	    </div>
	    <div class="col-sm-2 sidenav"></div>
	</div>
	
	</body>
</html>