<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Collectr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<script src="/js/accountCreation.js"></script>

</head>
<body>
	<div th:include = "/Index :: header"></div>

<div class="container" ng-app="collection" ng-controller="accountCreation">
<div class="col-sm-2"></div>
<div class="col-sm-8" style="align:middle">
<form name="accountCreationForm" ng-hide="success" class="form-horizontal" style="margin: auto; border: 3px solid; padding: 20px;">

	<div class="text-center">    
		<h2>Create your Collectr Account</h2>		
		<a href="login">Already a user?  Login.</a>
	</div>	
	<label for="First Name">First Name:</label>
	<input type="text" class="form-control" id="fName" placeholder="First Name" name="fName" ng-required = "true" ng-model="firstName"/>
	<label for="Last Name">Last Name:</label>
	<input type="text" class="form-control" id="lName" placeholder="Last Name" name="lName" ng-required = "true" ng-model="lastName"/>
	<label for="email">Email:</label>
	<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-required = "true" ng-model="email"/>
	<label for="pwd">Password:</label>
	<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" ng-required = "true" ng-model="password"/>
	<label for="pwd">Confirm Password:</label>
	<input type="password" class="form-control" id="cfmpwd" placeholder="Confirm your password" name="cfmpwd" ng-required = "true" ng-model="confirmPassword"/>
	<button type="submit" style = "margin: 10px" class="btn btn-default" ng-click="create()" >Create</button>

</form>
	  <div ng-show="clicked" class="hideByDefault">{{response}}</div>
	  <a href="/login" ng-show="success" class= "hideByDefault">Go To Login</a>
</div>
<div class="col-sm-2"></div>
</div>

</body>
</html>