<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Collectr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<script src="/js/index.js"></script>
	<script src="/js/addBook.js"></script>

</head>
<body>
<div th:include = "/Index :: header"></div>
	<div class="col-sm-2"></div>
	
	<div class="col-sm-8" style="align:middle">

	
<form ng-app="collection" ng-controller="addBook">
	<div ng-show = "showAlertDiv" class= "ng-cloak">
	<div class="alert alert-dismissible alert-success" ng-show="alertSuccess" dismiss-on-timeout="2000" data-auto-dismiss="2000" close="closeAlert()">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Well done!</strong> You successfully added this book.
	</div>
		
	<div class="alert alert-dismissible alert-danger" ng-show="alertDanger" dismiss-on-timeout="2000" data-auto-dismiss="2000" close="closeAlert()">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Oh snap!</strong> Change a few things up and try submitting again.
	</div>
	</div>
		
	<h2>Add Books to <i ng-bind="libraryName"><strong></strong></i></h2> 
		<ul class="nav nav-tabs">
  			<li class="nav-item active show"><a class="nav-link active show" data-toggle="tab" ng-model="lookUp" ng-click="lookUpClicked()">Look up</a></li>
  			<li class="nav-item"><a class="nav-link" data-toggle="tab" ng-model="manual" ng-click="manualClicked()">Manual Entry</a></li>
 		</ul>

	<div ng-show = "showSearchBar">
	<!-- Search Bar -->
	<h2 style = "text-align: center">Look Up</h2>
	<div>Search Options:</div>
	<div class="form-group">
    <div class="custom-control custom-radio">
      <input type="radio" id="searchByKeyword" value = "keyword" ng-model="search" class="custom-control-input" checked=""/>
      <label class="custom-control-label" for="searchByKeyword">Search By Keyword</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="searchByISBN" value = "isbn" ng-model="search" class="custom-control-input"/>
      <label class="custom-control-label" for="searchByISBN">Search By ISBN</label>
    </div>
    </div>
	
	<div class="input-group">
  		<input type="text" class="form-control" placeholder="Look Up a Book .." ng-model="searchText"/>
	  		<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="searchBook()"><span class="glyphicon glyphicon-search"></span></button>
			</span>

	</div>
		<div ng-show = "nothingFound" class= "ng-cloak"> Nothing Found </div>
		<div ng-show = "searchResult" class= "ng-cloak"> Results:	
		<div ng-repeat= "book in books">
			<div class="col-xs-2">
				<img src="{{book.image}}" alt="/images/placeholderImageItem.png" class="img-rounded" width="100" height="100"></img>
			</div>
 			<div class="col-xs-10">
 				<div>Book Title: {{ book.title }}</div>
				<div>Book ISBN13: {{ book.isbn13 }}</div>
				<div>Book ISBN10: {{ book.isbn10 }}</div>
				<div>Book Authors: {{ book.authors }}</div>
				<div class="checkbox"><label><input type="checkbox" ng-model="book.owns"/> Own</label></div>
				<div class="checkbox"><label><input type="checkbox" ng-model="book.wantsToOwn"/> Wants To Own</label></div>
				<div class="checkbox"><label><input type="checkbox" ng-model="book.complete"/> Complete</label></div>
				<div class="checkbox"><label><input type="checkbox" ng-model="book.wantsToComplete"/> Wants To Complete</label></div>
				<button type="submit" style = "margin: 10px" class="btn btn-default" ng-click="addBook(book)" >Add Book</button>
			</div>
		</div>	
	</div>
	</div>

	<div ng-show = "showManualEntry" class="form-group ng-cloak">
		<h2 style = "text-align: center">Manual Entry</h2>
		<label for="Book Title">Book Title:</label>
		<input type="text" class="form-control" placeholder="Book Title" ng-required = "true" ng-model="title"/>
		<label for="ISBN 13">ISBN 13:</label>
		<input type="text" class="form-control" placeholder="ISBN 13" ng-model="ISBN13"/>
		<label for="ISBN 10">ISBN 10:</label>
		<input type="text" class="form-control" placeholder="ISBN 10" ng-model="ISBN10"/>
		<label for="Authors">Authors:</label>
		<input type="text" class="form-control" placeholder="Authors" ng-model="authors"/>
		<div class="checkbox"><label><input type="checkbox" ng-model="owns"/> Own</label></div>
    	<div class="checkbox"><label><input type="checkbox" ng-model="wantsToOwn"/> Wants To Own</label></div>
    	<div class="checkbox"><label><input type="checkbox" ng-model="complete"/> Complete</label></div>
		<div class="checkbox"><label><input type="checkbox" ng-model="wantsToComplete"/> Wants To Complete</label></div>
		
		<button type="submit" style = "margin: 10px" class="btn btn-default" ng-click="create()" >Create</button>
	</div>
	<div ng-show="responseResult" class= "ng-cloak">{{response}}</div>
</form>
</div>
<div class="col-sm-2"></div>
</body>
</html>
