<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Collectr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<script src="/js/index.js"></script>
	<script src="/js/addItem.js"></script>

</head>
<body>

<div th:include = "/Index :: header"></div>

    <div class="col-sm-3 col-md-3" style = "height: 80%;">
    	<!-- FIRST BLOCK TO DISPALY USERNAME -->
    		<div class="jumbotron jumbotron-fluid" style = "height: 10%; width: 100%; margin-top:0px; margin-right: 0px; margin-left: 0px; margin-bottom: 5px; padding-top:1px; padding-right: 1px; padding-left: 1px; padding-bottom:1px ">
    			<div class="container text-center">
    				<p><h6 class="text-warning display-6" style= "text-align: center"><span sec:authentication="name"></span></h6></p>
    			</div>
    		</div>
       	<!-- SECOND BLOCK TO DISPALY NAVIGTION OPTIONS -->
    	<div class="jumbotron" style = "height: 90%; width: 100%; margin-top:0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px; padding-top:5px; padding-right: 0px; padding-left: 0px; padding-bottom:5px">
    		<div class="list-group" style = "width: 100%;">
    			<h4 style= "text-align: center">   Menu   </h4>
    			<ul class="nav nav-pills nav-stacked">
  					<li style = "width: 100%;"><a href="libraryHome2" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-home"></span> Collections</a></li>
  					<li><a href="libraryCreation" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-plus"></span> Add Library</a></li>
  					<li><a href="" class="list-group-item list-group-item-action active" ng-class = "{'adisabled': !usable}" ng-click="doOperation()"><span class="glyphicon glyphicon-plus"></span> Add Item</a></li>
  					<li><a href="#" class="list-group-item list-group-item-action"> <span class="glyphicon glyphicon-cog"></span> Setting</a></li>
  					<li><a href="/logout" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-log-out"></span> log out</a></li>
  				</ul>
  			</div>
  		</div>
    </div>
   <!-- Left Navigation Bar Ends Here (First Column) -->

	<div class="col-sm-9 col-md-9" style="align:middle">
<form ng-app="collection" ng-controller="addItem">
	<div ng-show = "showAlertDiv" class= "ng-cloak">
	<div class="alert alert-dismissible alert-success" ng-show="alertSuccess" dismiss-on-timeout="2000" data-auto-dismiss="2000" close="closeAlert()">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Well done!</strong> You successfully added this item.
	</div>
		
	<div class="alert alert-dismissible alert-danger" ng-show="alertDanger" dismiss-on-timeout="2000" data-auto-dismiss="2000" close="closeAlert()">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Oh snap!</strong> Change a few things up and try submitting again.
	</div>
	</div>
	
	<h2>Add Generic to <i ng-bind="libraryName"><strong></strong></i></h2>
		<ul class="nav nav-tabs">
  			<li class="nav-item active show"><a class="nav-link active show" data-toggle="tab">Manual Entry</a></li>
 		</ul>
 		
	<div ng-show = "showManualEntry" class="form-group">
		<h2 style = "text-align: center">Look Up</h2>
		<label for="Item Title">Item Title:</label>
		<input type="text" class="form-control" placeholder="Item Title" ng-required = "true" ng-model="title"/>
		<label for="Description">Description:</label>
      	<textarea class="form-control" id="exampleTextarea" rows="4" ng-model="description"></textarea>
		
		<div class="checkbox"><label><input type="checkbox" ng-model="owns"/> Own</label></div>
    	<div class="checkbox"><label><input type="checkbox" ng-model="wantsToOwn"/> Wants To Own</label></div>
    	<div class="checkbox"><label><input type="checkbox" ng-model="complete"/> Complete</label></div>
		<div class="checkbox"><label><input type="checkbox" ng-model="wantsToComplete"/> Wants To Complete</label></div>
		
		<button type="button" style = "margin: 10px" class="btn btn-default" ng-click="create()" >Create</button>

</div>
<div ng-show="responseResult" class= "ng-cloak">{{response}}</div>
</form>
</div>
</body>
</html>
