<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Collectr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<script src="/js/index.js"></script>
	<script src="/js/addItem.js"></script>

</head>
<body>

<div th:include = "/Index :: header"></div>


	<div class="col-sm-2"></div>
	<div class="col-sm-8" style="align:middle">

<form name="BookCreationForm" class="form-horizontal" style="margin: auto; border: 3px solid; padding: 20px;" ng-app="collection" ng-controller="addItem">
	<div ng-show = "showAlertDiv" class= "ng-cloak">
	<div class="alert alert-dismissible alert-success" ng-show="alertSuccess" dismiss-on-timeout="2000" data-auto-dismiss="2000" close="closeAlert()">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Well done!</strong> You successfully added this movie.
	</div>
		
	<div class="alert alert-dismissible alert-danger" ng-show="alertDanger" dismiss-on-timeout="2000" data-auto-dismiss="2000" close="closeAlert()">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Oh snap!</strong> Change a few things up and try submitting again.
	</div>
	</div>
	
	<h2>Add Item to {{LibraryName}} </h2>
	<p> ------------------------------------------------------------------------------------------------------------------------------------------------ </p>

	<div ng-show = "showManualEntry">
		<h2>Manual Entry</h2>
		<label for="Item Title">Item Title:</label>
		<input type="text" class="form-control" placeholder="Item Title" ng-required = "true" ng-model="title"/>
		<label for="Description">Description:</label>
      	<textarea class="form-control" id="exampleTextarea" rows="4" ng-model="description"></textarea>
		
		<div class="checkbox"><label><input type="checkbox" ng-model="owns"/> Own</label></div>
    	<div class="checkbox"><label><input type="checkbox" ng-model="wantsToOwn"/> Wants To Own</label></div>
    	<div class="checkbox"><label><input type="checkbox" ng-model="complete"/> Complete</label></div>
		<div class="checkbox"><label><input type="checkbox" ng-model="wantsToComplete"/> Wants To Complete</label></div>
		
		<button type="submit" style = "margin: 10px" class="btn btn-default" ng-click="create()" >Create</button>

</div>
<div ng-show="responseResult" class="hideByDefault">{{response}}</div>
</form>
</div>
<div class="col-sm-2"></div>
</body>
</html>
