<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Collectr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	  
	<script src="/js/index.js"></script>
	<script src="/js/libraryHome.js"></script>
	    <style>
			.wrapper {
  				display: grid;
  				grid-template-rows: 100px 100px;
  				grid-template-columns: 100px 100px 100px;
  				grid-gap: 10px;
  				background-color: #444;
  				color: #444;
			}
		
			.box {
  				background-color: #444;
  				color: #fff;
  				border-radius: 5px;
				/*   padding: 20px; */
  				font-size: 150%;
  				cursor: pointer; 
  				display: flex;
  				justify-content: center;
  				align-items: center;
			}
    
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    		.row.content {
    			height: 1500px
    		}

    /* Set gray background color and 100% height */
    		.sidenav {
      			background-color: #f1f1f1;
      			height: 100%;
    		}

    /* Set black background color, white text and some padding */
    		footer {
     			background-color: #555;
     			color: white;
      			padding: 15px;
    		}

    /* On small screens, set height to 'auto' for sidenav and grid */
    		@media screen and (max-width: 767px) {
     		 .sidenav {
      		  height: auto;
      		  padding: 15px;
     		 }
     		 .row.content {height: auto;}
    		}
    		
    		a.adisabled {
  cursor: not-allowed;
  opacity: .65;
}

a.adisabled:hover { text-decoration: none; }
a.adisabled:focus { text-decoration: none; }
a.adisabled:active { text-decoration: none; }

.aPanel {
  margin: 1em;
}
  
  		</style>  
</head>

<body>
<!-- Navigation Bar Starts Here -->
<div th:include = "/Index :: header"></div>
<!-- Navigation Bar Ends Here -->

<div class="container-fluid" ng-app="collection" ng-controller="navigationController" data-ng-init="init()">
  <div class="row content">
  
  	<!-- Left Navigation Bar Starts Here (First Column) -->
    <div class="col-sm-2" style = "height: 80%;">
    	<!-- FIRST BLOCK TO DISPALY USERNAME -->
    	<div class="jumbotron" style = "height: 10%; width: 100%; margin-top:0px; margin-right: 0px; margin-left: 0px; margin-bottom: 10px; padding-top:5px; padding-right: 5px; padding-left: 5px; padding-bottom:10px">
    		<h4 style= "text-align: center">USERNAME</h4>
    	</div>
       	<!-- SECOND BLOCK TO DISPALY NAVIGTION OPTIONS -->
    	<div class="jumbotron" style = "height: 90%; width: 100%; margin-top:0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px; padding-top:5px; padding-right: 0px; padding-left: 0px; padding-bottom:5px">
    		<div class="list-group" style = "width: 100%;">
    			<h4 style= "text-align: center">   Menu   </h4>
    			<ul class="nav nav-pills nav-stacked">
  					<li class="active" style = "width: 100%;"><a href="libraryHome2" class="list-group-item list-group-item-action active"><span class="glyphicon glyphicon-home"></span> Home</a></li>
  					<li><a href="libraryCreation" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-plus"></span> Add Library</a></li>
  					<li><a href="{{addLibrary}}" class="list-group-item list-group-item-action" ng-class = "{'adisabled': !usable}" ng-click="doOperation()"><span class="glyphicon glyphicon-plus"></span> Add Item</a></li>
  					<li><a href="#" class="list-group-item list-group-item-action"> <span class="glyphicon glyphicon-cog"></span> Setting</a></li>
  					<li><a href="#" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-log-out"></span> log out</a></li>
  				</ul>
  			</div>
  		</div>
    </div>
   <!-- Left Navigation Bar Ends Here (First Column) -->
    
   <!-- Article View To Display Data Start Here -->
   <div class="col-sm-10" style = "height: 80%;">
	   	<!-- Search Bar -->
   		<div class="input-group">
   			<input type="text" class="form-control" placeholder="Search on Collectr .."/>
        	<span class="input-group-btn">
          	<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        	</span>
     	</div>
     	<!-- Library Select  -->	 
     	<div class="form-group">
      		<label for="exampleSelect1">Library select</label>
      		<select class="form-control" ng-model="libraries.selected" ng-options="library.name for library in libraries.options track by library.libraryId" ng-change="selectedItemChanged()">
      		</select>   
    	</div>
        
        <!-- Welcome Messages In case No library  -->	     
		<div ng-show="welcomeMessage" class="ng-cloak"><h1>Welcome to Collectr </h1></div>
  		<div ng-show="libraryMessage" class="ng-cloak"><h2>Please create your first library</h2></div>
  		<div ng-show="itemMessage" class="ng-cloak"><h2> {{libraryName}} is empty, please add item</h2></div>

         <!-- Type Book Item Panel  -->	     
    	<div ng-show = "typeIsBook" class="panel panel-info ng-cloak" ng-repeat="item in items">
      	    
      	    <!-- Book Panel Heading  -->	     
      		<div class="panel-heading"><a data-toggle="collapse" href="#{{$index}}">{{ item.title }}</a></div>
       		<div id="{{$index}}" class="panel-collapse collapse">		
      			<!-- Book Panel Body  -->	     
      			<div class="panel-body">
      				<div class="row">
  						<div class="col-xs-2">
  						<img src="/images/placeholderImageItem.png" alt="1" class="img-rounded" width="100" height="100"></img>
  						</div>			
 						<div class="col-xs-10">
 			      			<div>Book Title: {{ item.title }}</div>
							<div>Book ISBN13: {{ item.isbn13 }}</div>
							<div>Book ISBN10: {{ item.isbn10 }}</div>
							<div>Book Authors: {{ item.authors }}</div>
							<li>
								<span class="label label-info"  ng-if="item.owns">Own</span>
								<span class="label label-info"  ng-if="item.wantsToOwn">Wants To Own</span>
								<span class="label label-info"  ng-if="item.complete">Complete</span>
								<span class="label label-info"  ng-if="item.wantsToComplete">Wants To Complete</span>
    						</li>
 						</div>
					</div>
      			</div>
      			<!-- Book Panel Footer  -->	     
        		<div class="panel-footer">
      	    		<a href="#" ng-click="viewItem(item.itemId)">view</a> | 
        			<a href="#" ng-click="editItem(item.itemId)">edit</a> |
        			<a href="#" ng-click="deleteItem(item.itemId, item.LibraryId)">delete</a>
				</div>
			</div>
    	</div>
    
        <!-- Type Movie Item Panel  -->	     
    	<div ng-show = "typeIsMovie" class="panel panel-info ng-cloak" ng-repeat="item in items">
      		<!-- Movie Panel Heading  -->	     
      		<div class="panel-heading"><a data-toggle="collapse" href="#{{$index+1000}}">{{ item.title }}</a></div>
      		<div id="{{$index+1000}}" class="panel-collapse collapse">
      			<!-- Movie Panel Body  -->	     
      			<div class="panel-body">
            		<div class="row">
  						<div class="col-xs-2">
  							<img src="/images/placeholderImageItem.png" alt="1" class="img-rounded" width="100" height="100"></img>
  						</div>
 						<div class="col-xs-10">  
      						<div>Movie Title: {{ item.title }}</div>
      						<div>Movie UPC: {{ item.upc }}</div>
      						<div>Movie Actors: {{ item.actors }}</div>
							<li>
								<span class="label label-info"  ng-if="item.owns">Own</span>
								<span class="label label-info"  ng-if="item.wantsToOwn">Wants To Own</span>
								<span class="label label-info"  ng-if="item.complete">Complete</span>
								<span class="label label-info"  ng-if="item.wantsToComplete">Wants To Complete</span>		
    						</li>
    					</div>
					</div>
      			</div> 
      			<!-- Movie Panel Footer  -->	        			
      			<div class="panel-footer">
     	    		<a href="#" ng-click="view(item.itemId)">view</a> | 
        			<a href="#" ng-click="edit(item.itemId)">edit</a> |
        			<a href="#" ng-click="deleteItem(item.itemId, item.LibraryId)">delete</a>
				</div>
			</div>
    	</div>
        
        <!-- Type Generic Item Panel  -->	     
    	<div ng-show = "typeIsGeneric" class="panel panel-info ng-cloak" ng-repeat="item in items">
      		<!-- Generic Panel Heading  -->	     
      		<div class="panel-heading"><a data-toggle="collapse" href="#{{$index+2000}}">{{ item.title }}</a></div>
      		<div id="{{$index+2000}}" class="panel-collapse collapse">
      			<!-- Generic Panel Body  -->	     
      			<div class="panel-body">
                  	<div class="row">
  						<div class="col-xs-2">
  							<img src="/images/placeholderImageItem.png" alt="1" class="img-rounded" width="100" height="100"></img>
  						</div>
 						<div class="col-xs-10"> 
      						<div>Item Title: {{ item.title }}</div>
     						<div>Item Description: {{ item.description }}</div>
							<li>	
								<span class="label label-info"  ng-if="item.owns">Own</span>
								<span class="label label-info"  ng-if="item.wantsToOwn">Wants To Own</span>
								<span class="label label-info"  ng-if="item.complete">Complete</span>
								<span class="label label-info"  ng-if="item.wantsToComplete">Wants To Complete</span>
    						</li>
    					</div>
					</div>
      			</div>
      			<!-- Generic Panel Footer  -->	     
      			<div class="panel-footer">
      	   			<a href="#" ng-click="view(item.itemId)">view</a> | 
        			<a href="#" ng-click="edit(item.itemId)">edit</a> |
        			<a href="#" ng-click="deleteItem(item.itemId, item.LibraryId)">delete</a>
				</div>
			</div>
    	</div>

		<div ng-show="statusResult" class="ng-cloak">{{status}}</div>
     </div>
   </div>
 </div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>
</html>
