<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Collectr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	  
	<script src="/js/index.js"></script>
	<script src="/js/addLibrary.js"></script>
	
</head>
<body>

<div th:include = "/Index :: header"></div>

	  
<div class="panel panel-default" style="margin: auto; width: 40%; border: 3px solid; padding: 10px;">
  <div class="panel-body">

<form class="form-horizontal" style="margin: auto; padding: 10px;" id="libraryForm">

	  <h2>Create a New Library</h2>
	  	  <label for="Library Name">Library Name:</label>
	      <input id="libName" type="text" class="form-control" placeholder="Library Name"/>
	      <label for="Library Type">Type of Library:</label>
	      <select id="libType" class="form-control">
		      <option selected="" value="other">Other</option>
		      <option value="books">Books</option>
		      <option value="movies">Movies</option>
          </select>
	      <button type="submit" class="btn btn-default">Create</button>
	    
</form>
  </div>
</div>
	
</body>
</html>