<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Collectr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	  
	<script src="/js/index.js"></script>
	<script src="/js/addLibrary.js"></script>
	
</head>
<body>

<div th:include = "index :: header"></div>

  	<!-- Left Navigation Bar Starts Here (First Column) -->
    <div class="col-sm-3 col-md-3" style = "height: 80%;">
    	<!-- FIRST BLOCK TO DISPALY USERNAME -->
    		<div class="jumbotron jumbotron-fluid" style = "height: 10%; width: 100%; margin-top:0px; margin-right: 0px; margin-left: 0px; margin-bottom: 5px; padding-top:1px; padding-right: 1px; padding-left: 1px; padding-bottom:1px ">
    			<div class="container text-center">
    				<p><h6 class="text-warning display-6" style= "text-align: center"><span sec:authentication="name"></span></h6></p>
    			</div>
    		</div>
       	<!-- SECOND BLOCK TO DISPALY NAVIGTION OPTIONS -->
       	
    	<div class="jumbotron" style = "height: 90%; width: 100%; margin-top:0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px; padding-top:5px; padding-right: 0px; padding-left: 0px; padding-bottom:5px">
    		<div class="list-group" style = "width: 100%;">
    			<h4 style= "text-align: center">   Menu   </h4>
    			<ul class="nav nav-pills nav-stacked">
  					<li style = "width: 100%;"><a href="libraryHome2" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-home"></span> Collections</a></li>
  					<li><a href="libraryCreation" class="list-group-item list-group-item-action active"><span class="glyphicon glyphicon-plus"></span> Add Library</a></li>
  					<li><a href="" class="list-group-item list-group-item-action" ng-class = "{'adisabled': !usable}" ng-click="doOperation()"><span class="glyphicon glyphicon-plus"></span> Add Item</a></li>
  					<li><a href="#" class="list-group-item list-group-item-action"> <span class="glyphicon glyphicon-cog"></span> Setting</a></li>
  					<li><a href="/logout" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-log-out"></span> log out</a></li>
  				</ul>
  			</div>
  		</div>
    </div>
   <!-- Left Navigation Bar Ends Here (First Column) -->


	  
<div class="col-sm-9 col-md-9" style="align:middle">

<form class="form-horizontal" style="margin: auto; border: 3px solid; padding: 20px;" id="libraryForm">

	  <h2>Create a New Library</h2>
	  	  <label for="Library Name">Library Name:</label>
	      <input id="libName" type="text" class="form-control" placeholder="Library Name"/>
	      <label for="Library Type">Type of Library:</label>
	      <select id="libType" class="form-control">
		      <option selected="" value="other">Other</option>
		      <option value="books">Books</option>
		      <option value="movies">Movies</option>
          </select>
	      <button type="submit" class="btn btn-default">Create</button>
	    
</form>
  </div>

	
</body>
</html>