<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Collectr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	  
	<script src="/js/index.js"></script>
	<script src="/js/libraryHome.js"></script>
	    <style>
    		/*
 			* Style tweaks
 			* --------------------------------------------------
 			*/
			footer {
 				padding-left: 15px;
  				padding-right: 15px;
			}

			/*
			 * Off Canvas
			 * --------------------------------------------------
			 */
			@media screen and (max-width: 768px) {
			  .row-offcanvas {
			    position: relative;
			    -webkit-transition: all 0.25s ease-out;
			    -moz-transition: all 0.25s ease-out;
			    transition: all 0.25s ease-out;
			  }
			
			  .row-offcanvas-left
			  .sidebar-offcanvas {
			    left: -33%;
			  }
			
			  .row-offcanvas-left.active {
			    left: 33%;
			  }
			
			  .sidebar-offcanvas {
			    position: absolute;
			    top: 0;
			    width: 33%;
			    margin-left: 10px;
			  }
			}
			
			
			/* Sidebar navigation */
			.nav-sidebar {
			  margin-right: -15px;
			  margin-bottom: 20px;
			  margin-left: -15px;
			}
			.nav-sidebar > li > a {
			  padding-right: 20px;
			  padding-left: 20px;
			}
			.nav-sidebar > .active > a {
			  color: #fff;
			  background-color: #428bca;
			}
			
			/*
			 * Main content
			 */
			
			.main {
			  padding: 20px;
			}
			@media (min-width: 768px) {
			  .main {
			    padding-right: 40px;
			    padding-left: 40px;
			  }
			}
			.main .page-header {
			  margin-top: 0;
			}
    		a.adisabled {
  				cursor: not-allowed;
  				opacity: .65;
			}

			a.adisabled:hover { text-decoration: none; }
			a.adisabled:focus { text-decoration: none; }
			a.adisabled:active { text-decoration: none; }

			.aPanel {
  				margin: 1em;
				}
  
  		</style>  
</head>

<body>
<!-- Navigation Bar Starts Here -->
<div th:include = "index :: header"></div>
<!-- Navigation Bar Ends Here -->
<div class="container-fluid" ng-app="collection" ng-controller="navigationController" data-ng-init="init()">
  <div class="row row-offcanvas row-offcanvas-left">
  	<!-- Left Navigation Bar Starts Here (First Column) -->
    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation" style = "height: 100%; background-color:#303030">
        <ul class="nav nav-sidebar">
       		<!-- SECOND BLOCK TO DISPALY NAVIGTION OPTIONS -->
    		<div style = "margin-top:0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px; padding-top:5px; padding-right: 0px; padding-left: 0px; padding-bottom:5px">
    			<div class="list-group" style = "width: 100%;">
    				<h4 style= "text-align: center">   Menu   </h4>
    				<ul class="nav nav-pills nav-stacked">
  						<li class="active" style = "width: 100%;"><a href="libraryHome2" class="list-group-item list-group-item-action active"><span class="glyphicon glyphicon-home"></span> Collections</a></li>
  						<li><a href="libraryCreation" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-plus"></span> Add Library</a></li>
  						<li><a href="{{addLibrary}}" class="list-group-item list-group-item-action" ng-class = "{'adisabled': !usable}" ng-click="doOperation()"><span class="glyphicon glyphicon-plus"></span> Add Item</a></li>
  						<li><a href="librarySetting" class="list-group-item list-group-item-action"> <span class="glyphicon glyphicon-cog"></span> Library Setting</a></li>
  						<li><a href="accountSetting" class="list-group-item list-group-item-action"> <span class="glyphicon glyphicon-cog"></span> Account Setting</a></li>
  						<li><a href="/logout" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  					</ul>
  				</div>
  			</div>
  		</ul>
    </div>
   <!-- Left Navigation Bar Ends Here (First Column) -->
   <!-- Article View To Display Data Start Here -->
   <div class="col-sm-9 col-md-10 main">
          <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
     	<!-- Library Select  -->	 
     	<div class="form-group">
      		<label for="exampleSelect1">Library select</label>
      		<select class="form-control" style = "padding-bottom:5px; margin-bottom: 10px;" ng-model="libraries.selected" ng-options="library.name for library in libraries.options track by library.libraryId" ng-change="selectedItemChanged()">
      		</select> 
      		<label for="exampleSelect1">Library Management</label>
      		<div class = "form-inline">
      			<a href="{{addLibrary}}" class="button btn btn-default" ng-class = "{'adisabled': !usable}" ng-click="doOperation()"><span class="glyphicon glyphicon-plus"></span> Add Item</a>
      		</div>
    	</div>
        
        <!-- Welcome Messages In case No library  -->	     
		<div ng-show="welcomeMessage" class="ng-cloak"><h1>Welcome to Collectr </h1></div>
  		<div ng-show="libraryMessage" class="ng-cloak"><h2>Please create your first library</h2></div>
  		<div ng-show="itemMessage" class="ng-cloak"><h3> {{libraryName}} is empty, please <a href="{{addLibrary}}" ng-class = "{'adisabled': !usable}" ng-click="doOperation()">Add Item</a></h3></div>

         <!-- Type Book Item Panel  -->	     
    	<div ng-show = "typeIsBook" class="panel panel-info ng-cloak" ng-repeat="item in items">
      	    
      	    <!-- Book Panel Heading  -->	     
      		<div class="panel-heading"><a data-toggle="collapse" href="#{{$index}}" style="color:#ffffff">{{ item.title }}</a></div>
       		<div id="{{$index}}" class="panel-collapse collapse">		
      			<!-- Book Panel Body  -->	     
      			<div class="panel-body">
      				<div class="row">
  						<div class="col-xs-2">
  						<img src="{{item.posterUrl}}" alt="/images/placeholderImageItem.png" class="img-rounded" width="100" height="100"></img>
  						</div>			
 						<div class="col-md-10 col-xs-12">
 			      			<div>Book Title: {{ item.title }}</div>
							<div>Book ISBN13: {{ item.isbn13 }}</div>
							<div>Book ISBN10: {{ item.isbn10 }}</div>
							<div>Book Authors: {{ item.authors }}</div>
							<li>
								<span class="label label-info"  ng-if="item.owns">Own</span>
								<span class="label label-info"  ng-if="item.wantsToOwn">Wants To Own</span>
								<span class="label label-info"  ng-if="item.complete">Complete</span>
								<span class="label label-info"  ng-if="item.wantsToComplete">Wants To Complete</span>
    						</li>
 						</div>
					</div>
      			</div>
      			<!-- Book Panel Footer  -->	     
        		<div class="panel-footer">
        			<a href="#" ng-click="deleteItem(item.itemId, item.LibraryId)">delete</a>
				</div>
			</div>
    	</div>
    
        <!-- Type Movie Item Panel  -->	     
    	<div ng-show = "typeIsMovie" class="panel panel-info ng-cloak" ng-repeat="item in items">
      		<!-- Movie Panel Heading  -->	     
      		<div class="panel-heading"><a data-toggle="collapse" href="#{{$index+1000}}" style="color:#ffffff">{{ item.title }}</a></div>
      		<div id="{{$index+1000}}" class="panel-collapse collapse">
      			<!-- Movie Panel Body  -->	     
      			<div class="panel-body">
            		<div class="row">
  						<div class="col-xs-2">
  							<img src="{{item.posterUrl}}" alt="/images/placeholderImageItem.png" class="img-rounded" width="100" height="100"></img>
  						</div>
 						<div class="col-md-10 col-xs-12">  
      						<div>Movie Title: {{ item.title }}</div>
      						<div>Movie UPC: {{ item.upc }}</div>
      						<div>Movie Actors: {{ item.actors }}</div>
							<li>
								<span class="label label-info"  ng-if="item.owns">Own</span>
								<span class="label label-info"  ng-if="item.wantsToOwn">Wants To Own</span>
								<span class="label label-info"  ng-if="item.complete">Complete</span>
								<span class="label label-info"  ng-if="item.wantsToComplete">Wants To Complete</span>		
    						</li>
    					</div>
					</div>
      			</div> 
      			<!-- Movie Panel Footer  -->	        			
      			<div class="panel-footer">
        			<a href="#" ng-click="deleteItem(item.itemId, item.LibraryId)">delete</a>
				</div>
			</div>
    	</div>
        
        <!-- Type Generic Item Panel  -->	     
    	<div ng-show = "typeIsGeneric" class="panel panel-info ng-cloak" ng-repeat="item in items">
      		<!-- Generic Panel Heading  -->	     
      		<div class="panel-heading"><a data-toggle="collapse" href="#{{$index+2000}}" style="color:#ffffff">{{ item.title }}</a></div>
      		<div id="{{$index+2000}}" class="panel-collapse collapse">
      			<!-- Generic Panel Body  -->	     
      			<div class="panel-body">
                  	<div class="row">
  						<div class="col-xs-2">
  							<img src="{{item.posterUrl}}" alt="/images/placeholderImageItem.png" class="img-rounded" width="100" height="100"></img>
  						</div>
 						<div class="col-md-10 col-xs-12"> 
      						<div>Item Title: {{ item.title }}</div>
     						<div>Item Description: {{ item.description }}</div>
							<li>	
								<span class="label label-info"  ng-if="item.owns">Own</span>
								<span class="label label-info"  ng-if="item.wantsToOwn">Wants To Own</span>
								<span class="label label-info"  ng-if="item.complete">Complete</span>
								<span class="label label-info"  ng-if="item.wantsToComplete">Wants To Complete</span>
    						</li>
    					</div>
					</div>
      			</div>
      			<!-- Generic Panel Footer  -->	     
      			<div class="panel-footer">
        			<a href="#" ng-click="deleteItem(item.itemId, item.LibraryId)">delete</a>
				</div>
			</div>
    	</div>

		<div ng-show="statusResult" class="ng-cloak">{{status}}</div>
     </div>
   </div>
 </div>


<footer class="footer" style = "background-color:#303030">
  	<div> <p> © 2018 - Collectr </p></div>
  	<div><p> Developers: 
  	<a href="">Jeanne Boggs</a>, 
  	<a href="">Mark Wlodarski</a>, 
  	<a href="https://www.linkedin.com/in/meharbi88/">Mohammed Alharbi</a>
  	</p>
  	</div>
</footer>

</body>
</html>
